<header>
  <h3>{{task.title}}</h3>
  <span class="actions">
    <a href="#" {{action "select"}}>Select</a>
    <a href="#" {{action "remove"}}>Remove</a>
    <a href="#" {{action "benchmark"}}>Benchmark</a>
  </span>
</header>
{{#if active}}
  <div class="form">
    {{yield task}}
    <button>Done</button>
  </div>
{{/if}}
