<h2 id="title">Welcome to Ember.js</h2>
{{!-- {{link-to 'Old style inputs' 'old-style'}}
{{link-to 'New style inputs' 'new-style'}}
{{link-to 'Old actions' 'old-actions'}}
{{link-to 'New actions' 'new-actions'}} --}}

{{link-to 'ED Dirty attributes bug' 'ember-data-dirty-bug'}}

<div id="main-content">
  {{outlet}}
</div>
