<h2 id="title">Welcome to Ember.js</h2>
{{link-to 'Old style inputs' 'old-style'}}
{{link-to 'New style inputs' 'new-style'}}
{{link-to 'Old actions' 'old-actions'}}
{{link-to 'New actions' 'new-actions'}}
<div id="main-content">
  {{outlet}}
</div>
