<h2>New actions</h2>
<br>
  <input id="homework-title" type="text" value={{model.title}} oninput={{action (mut model.title) value="target.value"}}>
<br>
<br>
<ul class="nav nav-tabs">
  {{#each model.trays as |tray index|}}
    <li class={{if (eq index tab) 'active'}}>
      {{link-to tray.title "new-actions" (query-params tab=index)}}
    </li>
  {{/each}}
</ul>
{{#new-accordion-multi-form tray=selectedTray selected=selectedTask removeTask=(action "deleteTaskFromTray" selectedTray) as |task|}}
  <p>
    <input type="text" value={{task.title}} placeholder="Title" oninput={{action (mut task.title) value="target.value"}}>
  </p>
  <p>
    <input type="text" value={{task.description}} placeholder="Description" oninput={{action (mut task.description) value="target.value"}}>
  </p>
{{/new-accordion-multi-form}}
<br>
<br>
<button {{action "confirm"}}>Confirm</button>
<button {{action "rollback"}}>Rollback</button>