<h3>New style inputs</h3>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>
<input type="text" value={{myValue}} oninput={{action (mut myValue) value="target.value"}}>