<h3>Old style inputs</h3>
<pre>{{codeSample}}</pre>
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}
{{input value=myValue}}